alembic==1.15.1
aniso8601==10.0.0
attrs==25.1.0
blinker==1.9.0
cffi==1.17.1
click==8.1.8
contourpy==1.3.1
cryptography==44.0.2
cycler==0.12.1
dotenv==0.9.9
filelock==3.13.1
flask==3.1.0
flask-cors==5.0.1
flask-jwt-extended==4.7.1
flask-marshmallow==1.3.0
flask-migrate==4.1.0
flask-restx==1.3.0
flask-sqlalchemy==3.1.1
fonttools==4.56.0
fsspec==2024.6.1
greenlet==3.1.1
gunicorn==23.0.0
importlib-resources==6.5.2
itsdangerous==2.2.0
jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
mako==1.3.9
markupsafe==2.1.5
marshmallow==3.26.1
marshmallow-sqlalchemy==1.4.1
matplotlib==3.10.1
mpmath==1.3.0
networkx==3.3
numpy==2.1.2
packaging==24.2
pandas==2.2.3
pillow==11.0.0
psycopg2-binary==2.9.10
pycparser==2.22
pyjwt==2.9.0
pyparsing==3.2.1
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
referencing==0.36.2
rpds-py==0.23.1
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
sqlalchemy==2.0.38
sympy==1.13.1
threadpoolctl==3.5.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
typing-extensions==4.12.2
tzdata==2025.1
werkzeug==3.1.3
